body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: lightblue;
}

a {
  color: #414648;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

body > nav {
  grid-area: nav;
  background-color: #70b2c3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
