<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <ul>
      <li>New</li>
      <li>My Lists</li>
      <li>Login</li>
    </ul>
  </nav>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>! Your perfect workout starts here!</p>
    <a href="/workouts/new">New Workout</a>
    <a href="/workouts/">My Workouts</a>
  </body>
</html>
