<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      Login
    </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>! Your perfect workout starts here!</p>
    <a href="/workouts/new">New Workout</a>
    <a href="/workouts/">My Workouts</a>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (user) { %>
        <li><a href="/private">Private Page</a></li>
        <li><a href="/logout">Log Out</a></li>
        <% } else { %>
          <li><a href="/auth/google">Log In</a></li>
          <% } %>
    </ul>
  </body>
</html>
