<%- include('../partials/header') %>
<link rel='stylesheet' href='/stylesheets/main.css' />
<title>New Workout</title>
</head>
<body>
    <h2>Enter a New Workout</h2>
<form action="/workouts" method="POST">
  <label>Workout Name:
    <input type="text" name="workoutName">
  </label>
  <label>Description:
    <select name="description">
      <option value="Legs">Legs</option>
      <option value="Arms">Arms</option>
      <option value="Chest">Chest</option>
      <option value="Lower-Body">Lower-Body</option>
      <option value="Upper-Body">Upper-Body</option>
      <option value="Lite">Lite</option>
      <option value="Warm-Up">Warm-Up</option>
    </select>
  </label>
  <input type="submit" value="Add Workout">
</form>

<%- include('../partials/footer') %>